<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/style.min.css">
	<!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../css/font-awesome.min.css">

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
</head>

<body>
	<div class="wrapper">
	<!-- wrapper start -->
		include modules/_header.pug
		<!-- <div class="content">
		<!-- content start -->
		<div class="mainWrap">
			<div class="asideMenu">
				<ul class="asideMenu__items">
					
					<li class="asideMenu__item active"><a href="company.html">Информация о компании</a></li>
					<li class="asideMenu__item"><a href="company_head.html">Руководство</a></li>
					<li class="asideMenu__item"><a href="lemtrans_article.html">Организационная структура</a></li>
					<li class="asideMenu__item"><a href="company_codex.html">Корпоративный Кодекс Этики</a></li>
					<li class="asideMenu__item"><a href="company_contacts.html">Контакты</a></li>
					<li class="asideMenu__item"><a href="lemtrans_article.html">Фотогалерея</a></li>
					<li class="asideMenu__item"><a href="lemtrans_article.html">Вопросы и ответы</a></li>
					
				</ul>
			</div>
			<div class="newsPageWrap">
				<div class="docsPage__column">
					<div class="pageContentHeader">
						<h2 class="PageWrap__header">Компания</h2>
					</div>
						
					<div class="contentPageMainWrap infoPageMainWrap">
						<h3 class="contentMainHeader">Информация о компании</h3>
						<p class="mainConpanyInfo">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянное информационное обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянное информационное обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
						<div class="infosAdaptiveWrap">
							<!-- loop -->
							<div class="infoBlock directionRight">
								<img class="infoBlock__img" src="/img/aboutUs/1.png" alt="someFoto">
								<div class="infoBlock__caption">
									<h4 class="infoBlock__header">Добро пожаловать в Лемтранс!</h4>
									<p class="infoBlock__content">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянное информационное обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянное информационное обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
								</div>
							</div>
							<div class="infoBlock directionLeft">
								<img class="infoBlock__img" src="/img/aboutUs/1.png" alt="someFoto">
								<div class="infoBlock__caption">
									<h4 class="infoBlock__header">Добро пожаловать в Лемтранс!</h4>
									<p class="infoBlock__content">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянное информационное обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянное информационное обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
								</div>
							</div>
							<div class="infoBlock directionRight">
								<img class="infoBlock__img" src="/img/aboutUs/1.png" alt="someFoto">
								<div class="infoBlock__caption">
									<h4 class="infoBlock__header">Добро пожаловать в Лемтранс!</h4>
									<p class="infoBlock__content">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянное информационное обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянное информационное обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</p>
								</div>
							</div>
							<!-- loop end -->
						</div>
					</div>
				</div>
			</div>

		</div>

		
		<!-- </div>
		content end -->
		include modules/_footer.pug
	</div>
	<!-- wrapper end -->
</body>

</html>