<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/style.min.css">
	<!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../css/font-awesome.min.css">

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
</head>

<body>
	<div class="wrapper">
	<!-- wrapper start -->
		include modules/_header.pug
		<!-- <div class="content">
		<!-- content start -->
		<div class="mainWrap">
			<div class="asideMenu">
				<ul class="asideMenu__items">
					
					<li class="asideMenu__item"><a href="company.html">Информация о компании</a></li>
					<li class="asideMenu__item active"><a href="company_head.html">Руководство</a></li>
					<li class="asideMenu__item"><a href="lemtrans_article.html">Организационная структура</a></li>
					<li class="asideMenu__item"><a href="company_codex.html">Корпоративный Кодекс Этики</a></li>
					<li class="asideMenu__item"><a href="company_contacts.html">Контакты</a></li>
					<li class="asideMenu__item"><a href="lemtrans_article.html">Фотогалерея</a></li>
					<li class="asideMenu__item"><a href="lemtrans_article.html">Вопросы и ответы</a></li>
					
				</ul>
			</div>
			<div class="newsPageWrap">
				<div class="docsPage__column">
					<div class="pageContentHeader">
						<h2 class="PageWrap__header">Компания</h2>
					</div>
						
					<div class="contentPageMainWrap">
						<h3 class="contentMainHeader">Руководство</h3>
						
						<div class="infosAdaptiveWrap">
							<!-- loop -->
							<div class="ceoSpaces directionLeft">
								<img class="ceoAvatar infoBlock__img" src="/img/compamy_head/mezentsev.png" alt="someFoto">
								<div class="infoBlock__caption personInfo">
									<h4 class="personInfo__header">Владимир Мезенцев</h4>
									<span class="personInfo__qualification">Генеральный директор</span>
									<ul class="personInfo__timeline">
										<li class="personInfo__item"><b>С 2009</b> — Генеральный директор ООО «Лемтранс»</li>
										<li class="personInfo__item"><b>2004-2006</b> — Заместитель главы тендерного комитета ПАО «ЦГОК» и ПАО «СевГОК»</li>
										<li class="personInfo__item"><b>2006-2009</b> — Директор по закупкам структурного подразделения запчастей для железног пути</li>
									</ul>
								</div>

							</div>
							<div class="ceoSpaces directionLeft">
								<img class="ceoAvatar infoBlock__img" src="/img/compamy_head/mezentsev.png" alt="someFoto">
								<div class="infoBlock__caption personInfo">
									<h4 class="personInfo__header">Владимир Мезенцев</h4>
									<span class="personInfo__qualification">Генеральный директор</span>
									<ul class="personInfo__timeline">
										<li class="personInfo__item"><b>С 2009</b> — Генеральный директор ООО «Лемтранс»</li>
										<li class="personInfo__item"><b>2004-2006</b> — Заместитель главы тендерного комитета ПАО «ЦГОК» и ПАО «СевГОК»</li>
										<li class="personInfo__item"><b>2006-2009</b> — Директор по закупкам структурного подразделения запчастей для железног пути</li>
									</ul>
								</div>

							</div>
							<div class="ceoSpaces directionLeft">
								<img class="ceoAvatar infoBlock__img" src="/img/compamy_head/mezentsev.png" alt="someFoto">
								<div class="infoBlock__caption personInfo">
									<h4 class="personInfo__header">Владимир Мезенцев</h4>
									<span class="personInfo__qualification">Генеральный директор</span>
									<ul class="personInfo__timeline">
										<li class="personInfo__item"><b>С 2009</b> — Генеральный директор ООО «Лемтранс»</li>
										<li class="personInfo__item"><b>2004-2006</b> — Заместитель главы тендерного комитета ПАО «ЦГОК» и ПАО «СевГОК»</li>
										<li class="personInfo__item"><b>2006-2009</b> — Директор по закупкам структурного подразделения запчастей для железног пути</li>
									</ul>
								</div>

							</div>
							<div class="ceoSpaces directionLeft">
								<img class="ceoAvatar infoBlock__img" src="/img/compamy_head/mezentsev.png" alt="someFoto">
								<div class="infoBlock__caption personInfo">
									<h4 class="personInfo__header">Владимир Мезенцев</h4>
									<span class="personInfo__qualification">Генеральный директор</span>
									<ul class="personInfo__timeline">
										<li class="personInfo__item"><b>С 2009</b> — Генеральный директор ООО «Лемтранс»</li>
										<li class="personInfo__item"><b>2004-2006</b> — Заместитель главы тендерного комитета ПАО «ЦГОК» и ПАО «СевГОК»</li>
										<li class="personInfo__item"><b>2006-2009</b> — Директор по закупкам структурного подразделения запчастей для железног пути</li>
									</ul>
								</div>

							</div>
							<div class="ceoSpaces directionLeft">
								<img class="ceoAvatar infoBlock__img" src="/img/compamy_head/mezentsev.png" alt="someFoto">
								<div class="infoBlock__caption personInfo">
									<h4 class="personInfo__header">Владимир Мезенцев</h4>
									<span class="personInfo__qualification">Генеральный директор</span>
									<ul class="personInfo__timeline">
										<li class="personInfo__item"><b>С 2009</b> — Генеральный директор ООО «Лемтранс»</li>
										<li class="personInfo__item"><b>2004-2006</b> — Заместитель главы тендерного комитета ПАО «ЦГОК» и ПАО «СевГОК»</li>
										<li class="personInfo__item"><b>2006-2009</b> — Директор по закупкам структурного подразделения запчастей для железног пути</li>
									</ul>
								</div>

							</div>
							<!-- loop end -->
							
						</div>
					</div>

					<div class="pagination">
						<div class="pagination__wrap">
							<div><a href="" class="prev__btn control__btn">Предыдущая</a></div>
							<ol class="numbers">
									
								<li class="active"><a href="">1</a></li>
								<li><a href="">2</a></li>
								<li><a href="">3</a></li>
								<li><a href="">...</a></li>
								<li><a href="">9</a></li>
								<li><a href="">140</a></li>
									
							</ol>
							<div><a href="" class="next__btn control__btn">Следующая</a></div>
								
						</div>
					</div>
				</div>
				

			</div>

		</div>

		
		<!-- </div>
		content end -->
		include modules/_footer.pug
	</div>
	<!-- wrapper end -->
</body>

</html>