<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/style.min.css">
	<!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../css/font-awesome.min.css">

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
</head>

<body>
	<div class="wrapper">
	<!-- wrapper start -->
		include modules/_header.pug
		<!-- <div class="content">
		<!-- content start -->
		<div class="mainWrap">
			<div class="asideMenu">
				<ul class="asideMenu__items">
					<li class="asideMenu__item"><a class="active" href="lemtrans_article.html">Новости Лемтранс</a></li>
					<li class="asideMenu__item"><a href="lemtrans_article.html">Новости группы СКМ</a></li>
					<li class="asideMenu__item"><a href="lemtrans_article.html">Корпоративная газета</a></li>
				</ul>
			</div>
			<div class="newsPageWrap">
				<div class="newsPage__column">
					<h2 class="PageWrap__header">Новости Лемтранс</h2>
					<div class="newsPage__item">
						<img src="img/newsPage/1.png" alt="news__prewiew">
						<div class="newsPage__content">
							<h3 class="newsPage__header">«Лемтранс» расширит собственную сеть полувагонов</h3>
							<span class="newsPage__date">02.10.2017 &#149; Новости СКМ</span>
							<p class="newsPage__text">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянное информационное обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. </p>
							<a class="newsPage__readMore" href="article.html">Читать</a>
						</div>
					</div>
					<div class="newsPage__item">
						
						<div class="newsPage__content">
							<h3 class="newsPage__header">«Лемтранс» расширит собственную сеть полувагонов</h3>
							<span class="newsPage__date">02.10.2017 &#149; Новости СКМ</span>
							<p class="newsPage__text">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянное информационное обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. </p>
							<a class="newsPage__readMore" href="article.html">Читать</a>
						</div>
					</div>
					<div class="newsPage__item">
						<img src="img/newsPage/1.png" alt="news__prewiew">
						<div class="newsPage__content">
							<h3 class="newsPage__header">«Лемтранс» расширит собственную сеть полувагонов</h3>
							<span class="newsPage__date">02.10.2017 &#149; Новости СКМ</span>
							<p class="newsPage__text">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянное информационное обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. </p>
							<a class="newsPage__readMore" href="article.html">Читать</a>
						</div>
					</div>
					<div class="newsPage__item">
						
						<div class="newsPage__content">
							<h3 class="newsPage__header">«Лемтранс» расширит собственную сеть полувагонов</h3>
							<span class="newsPage__date">02.10.2017 &#149; Новости СКМ</span>
							<p class="newsPage__text">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянное информационное обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. </p>
							<a class="newsPage__readMore" href="article.html">Читать</a>
						</div>
					</div>
					<div class="newsPage__item">
						<img src="img/newsPage/1.png" alt="news__prewiew">
						<div class="newsPage__content">
							<h3 class="newsPage__header">«Лемтранс» расширит собственную сеть полувагонов</h3>
							<span class="newsPage__date">02.10.2017 &#149; Новости СКМ</span>
							<p class="newsPage__text">Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что постоянное информационное обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. </p>
							<a class="newsPage__readMore" href="article.html">Читать</a>
						</div>
					</div>

					<div class="pagination">
						<div class="pagination__wrap">
							<div><a href="" class="prev__btn control__btn">Предыдущая</a></div>
							<ol class="numbers">
								
								<li class="active"><a href="">1</a></li>
								<li><a href="">2</a></li>
								<li><a href="">3</a></li>
								<li><a href="">...</a></li>
								<li><a href="">9</a></li>
								<li><a href="">140</a></li>
								
							</ol>
							<div><a href="" class="next__btn control__btn">Следующая</a></div>
							
						</div>
					</div>
				</div>
			</div>

		</div>

		

		<!-- </div>
		content end -->
		include modules/_footer.pug
	</div>
	<!-- wrapper end -->
</body>

</html>