/* footer */
.footerPrivatePolicy {
	background-color: #393939;
	span {
		color: #4f4f4f;
		font-family: "Arial MT";
		font-size: $usualText;
		font-weight: 400;
		line-height: 22px;
		text-align: center;
		display: block;
		padding: 24px 0px;
	}
}
/* footer end */