/* variable */
$colorRed: #e73d36;
$colorDarkGrey: #434242;
$blockHeader: 1.3125rem;
$newsHeader: 1rem;
$usualText: 0.875rem;
$colorlightGray: #898888;
$colorHeaderGray: #b5b5b5;
$select-color: #ececec;
$select-width: 250px;
$select-height: 50px;
$select-background: #fafafa;
$noSelect-background: #c9c9c9;
/* variable end */