<!-- footer -->
<div class="footer">
    <div class="footerPrivatePolicy">
        <span>© 2017 Лемтранс. Все права защищены</span>
    </div>
    <div class="colorMe"></div>
    <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../js/all.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</div>
<!-- footer end-->
